data
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/*.out
doc/*.pdf
doc/pilot.tex
doc/query.tex
doc/intro.tex
pilot/*
!pilot/all.ps
!pilot/Makefile
!pilot/pilot.org
query/*
!query/all.ps
!query/Makefile
!query/query.org
tutorial/*
!tutorial/pilot.sh
!tutorial/query.sh
markers/*
!markers/Makefile
!markers/markers.org
!markers/markers.sh